<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comments index</title>
</head>
<body>
<h1>Post a new comment</h1>
<section>
<form action="/comments" method="POST">
    <section>
    <label for="username">Enter Username</label>
    <input type="text" name="username" placeholder="username" id="username">
    </section>
    <br>
    <section>
    <label for="comment">Comment</label>
    <textarea id="comment" name="comment" rows="4" cols="6"></textarea>
    </section>
    <section>
    <button type="submit">Submit</button>
    </section>
</form>
</section>

<a href="/comments">Back to index</a>

</ul>
</body>
</html>